<div *ngIf="this.labels && this.labels.length > 0">

    <div style="">
        <form class="example-form" onkeydown="return event.key != 'Enter';">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Filter labels.." (change)="labelChanged($event)">
            </mat-form-field>
        </form>
        <div *ngFor="let label of labels" style="float: left;">
            <mat-checkbox (change)="label.checked = $event.checked" *ngIf="passTenLabels(label)"
                [checked]="label.checked" style="margin: 5px">
                {{label.name}}
            </mat-checkbox>
        </div>
    </div>
    <br>
    <div style="margin-top: 10px;margin-bottom: 100px">
        <form class="example-form" onkeydown="return event.key != 'Enter';">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Filter features.." (change)="featureChanged($event)">
            </mat-form-field>
        </form>
        <div *ngFor="let feature of features" style="float: left;">
            <mat-checkbox (change)="feature.checked = $event.checked" *ngIf="passTenFeatures(feature)"
                [checked]="feature.checked" style="margin: 5px">
                {{feature.name}}
            </mat-checkbox>
        </div>
    </div>
    <br>
    <br>
    <div>
        <mat-card class="selection-card">
            <mat-card-title>KNN</mat-card-title>
            <mat-card-subtitle>Number of iterations:</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Iterations</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let iter of iterations" (onSelectionChange)="numOfIteration = iter"
                            [value]="iter">
                            {{iter}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                (each one with random training and test set)
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="selectKnn()">Run</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="selection-card">
            <mat-card-title>Neural Net</mat-card-title>
            <mat-card-actions>
                <button mat-raised-button (click)="selectNeuralNet()">Run</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>