.wrapper {
    background-color: rgb(131, 193, 243);
    height: 100%;
    width: 100%;
}

.selection-wrapper {
    margin: 10px;
}

a { margin: 5px;}

.selection-input {
    top: 10%;
    right: 5%;
    position: absolute;
    margin: 20px;
}