<div class="wrapper">
  <div class="form-group">
    <input class="selection-input" type="file"  id="file" (change)="fileChanged($event)" >
  </div>
  <div class="selection-wrapper" *ngIf="onSelection">
    <app-selection [data]="data" (onSelected)="onSelected($event)"></app-selection>
  </div>
  <div *ngIf="onRunComplete" style="padding: 40px; padding-top: 120px">
    <mat-card>
      <mat-card-title *ngIf="listOfRatios">Success Ratio Avg: {{chosensuccRatioDisplay}} </mat-card-title>
      <mat-card-title *ngIf="!listOfRatios">Success Ratio: {{chosensuccRatioDisplay}} </mat-card-title>
      <mat-card-content *ngIf="chosenK">Chosen k: {{chosenK}} </mat-card-content>
      <mat-card-content *ngFor="let _iteration of listOfRatios">Iteration {{_iteration.num}}: <h4>{{_iteration.value}}</h4> </mat-card-content>
      <mat-card-actions>
          <a title="All Set" *ngIf="downloadDataUri" [href]="downloadDataUri" download="download.json">Download All Set</a>
          <a title="Training Set" *ngIf="downloadTrainingSetUrl" [href]="downloadTrainingSetUrl" download="download.json">Download Training Set</a>
          <a title="Test Set" *ngIf="downloadTestSetUri" [href]="downloadTestSetUri" download="download.json">Download Test Set</a>
        </mat-card-actions>
    </mat-card>
  </div>
  <!-- <log-monitor style="right: 0; bottom:0; position: absolute; width: 50%; height: 30%"
    [logStream]="logStream$ | async"
    theme="dark"
    title="Log:"
    [animated]="true"
    [icons]="true"
></log-monitor> -->
</div>